<h1>Welcome to Epic!</h1>
<p>
    This is a bit of test text. I know I could use some sort of generator, but I've often found hat just writing stream
    of consciousness s therapeutic for me. It does tend to lead to overly long sentences, however. *Sigh*. I guess I see
    your point. Here's your randomly generated text then:
</p>

<p>
    Bacon ipsum dolor sit amet spare ribs beef ribs ham hock frankfurter velit, pastrami ut. Nostrud esse adipisicing
    sunt aute dolor, bresaola ad spare ribs anim laborum boudin pariatur. Chicken magna brisket, sausage ut ham hock
    leberkas tail pariatur in. Commodo cow id jerky shank. Short ribs capicola ex ham hock bacon pancetta laborum.
</p>

<p>Tasty.</p>

<pre>// This would be some code. It's here to allow us to test the monospace font. Isn't that nice?
function sayWhat(omg, why)
{
    console.log(omg, why);
} // end sayWhat
</pre>

<p>
    Also, we need to test some <code>code</code> in a <code>paragraph</code>. Done!
</p>

<h2>Testing:</h2>
<ul>
    <li>Test Project: <a href="/morgul/test">morgul/test</a></li>
</ul>

